<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeplug Search</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></scrip>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
<div class="container mt-5">
    <h1>Find a Codeplug</h1>
    <form action="/search" method="get" class="card card-body">
        <div class="form-group">
            <label for="brand">Brand:</label>
            <select id="brand" name="brand" class="form-control" required>
                <option value="">Select a brand</option>
            </select>
        </div>
        <div class="form-group">
            <label for="model">Model:</label>
            <select id="model" name="model" class="form-control" required disabled>
                <option value="">Select a model</option>
            </select>
        </div>
        <div class="form-group">
            <label for="band">Band:</label>
            <select id="band" name="band" class="form-control" required disabled>
                <option value="">Select a band</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<script>
    const data = <%- data %>;
</script>
<script src="/js/index.js"></script>
</body>
</html>